<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  

<head>  
  		 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		 <title>Results</title>  
  		 <%= stylesheet_link_tag "style" %>  
  		 <%= javascript_include_tag :defaults %>  
		 <%= javascript_include_tag "changetab" %>  
</head>  
  
<body>  


<div id="tabbed_box_1" class="tabbed_box">  
  
  <h4>Semantic Search <small>Type in search box then choose tab</small></h4> 
  <% form_tag({ :controller => "say", :action => "hello"} , :method => "get" ) do%>
					<%= text_field_tag :search, params[:search] %>&nbsp;
					<button type="submit" class = 'vsmall awesome'>Search</button></p>
					<!--<%= submit_tag "Search", :name => nil %>-->
					<br/>
					<small>Advanced Search: &nbsp;<%= link_to "Book",{ :controller => "say", :action => "advanced_search"},{:class => 'white'} %>
				&nbsp;&nbsp;<%= link_to "Article",{ :controller => "say", :action => "advanced_search"},{:class => 'white'} %></small>
					<% end %>
					
  <h4><small>Displaying Results For </small> <strong> <%= @search_phrase %> </strong></h4> 
  
  
   
  <div class="tabbed_area">  
  
      <ul class="tabs">  
    <li><a href="javascript:" 
	onclick = "tabSwitch_2(1, 4, 'tab_', 'content_');<%= remote_function(:update => "content_1",:url => { :action => :generate_content, :type => "Book", :search => @search_phrase }, :before => "$('indicator1').show(  )", :complete => "$('indicator1').hide(  )") %>"
	id="tab_1" class="active">Books</a>
	</li>  
    
	<li><a href="javascript:" 
	onclick = "tabSwitch_2(2, 4, 'tab_', 'content_');<%= remote_function(:update => "content_2",:url => { :action => :generate_content, :type => "Article", :search => @search_phrase }, :before => "$('indicator2').show(  )", :complete => "$('indicator2').hide(  )") %>"
	id="tab_2">Articles</a>
	</li>  
    
	<li><a href="javascript:" 
	onclick = "tabSwitch_2(3, 4, 'tab_', 'content_');<%= remote_function(:update => "content_3",:url => { :action => :generate_content, :type => "Fact", :search => @search_phrase }, :before => "$('indicator3').show(  )", :complete => "$('indicator3').hide(  )") %>"
	id="tab_3">Facts</a>
	</li>  
	
	<li><a href="javascript:" 
	onclick = "tabSwitch_2(4, 4, 'tab_', 'content_');<%= remote_function(:update => "content_4",:url => { :action => :generate_content, :type => "Twitter", :search => @search_phrase }, :before => "$('indicator4').show(  )", :complete => "$('indicator4').hide(  )") %>" 
	id="tab_4">Twitter</a>
	</li>
	
</ul>  
  
     <div id="content_1" class="content">
     		 	<span id="indicator1" style="display: none; text-align:center; margin-left:auto; margin-right:auto;">
			<img src="/images/ajax-loader.gif" align='center' style=" display: block; margin-left: auto;  margin-right: auto;padding: 50px 10px 100px 10px;" />
		</span>
     	<% if @title.length > 0 %>
			<ul>
			<% for k in 0..@title.length-1 %> 
		    <li><%= @title[k] %>
			 <%= link_to_remote "Details",                
    			:url    => { :controller => 'resource_manager' , :action => 'new_resource' , :uri => @uri[k] , :type => "Book"},
 				:before => "$('indicator').show(  )",
                :update => 'resource',  			
    			:complete => "$('indicator').hide(  )"
				%>	
			
			    </li>				
			<% end %>
			</ul>
			<% end %>	    			
	 </div>  
	 
     <div id="content_2" class="content">	
	 	  	<span id="indicator2" style="display: none; text-align:center; margin-left:auto; margin-right:auto;">
			<img src="/images/ajax-loader.gif" align='center' style=" display: block; margin-left: auto;  margin-right: auto;padding: 50px 10px 100px 10px;" />
		</span>
	 </div>  
	 
     <div id="content_3" class="content">	
	 	<span id="indicator3" style="display: none; text-align:center; margin-left:auto; margin-right:auto;">
			<img src="/images/ajax-loader.gif" align='center' style=" display: block; margin-left: auto;  margin-right: auto; padding: 50px 10px 100px 10px;" />
		</span>
	</div>  
	
	<div id="content_4" class="content">
	    	<span id="indicator4" style="display: none; text-align:center; margin-left:auto; margin-right:auto; margin-top:20px;">
			<img src="/images/ajax-loader.gif" align='center' style=" display: block; margin-left: auto;  margin-right: auto;padding: 50px 10px 100px 10px;" />
		</span>
	</div>  

   </div>  
  
   <div id="content-footer">
		<!--
		<div class="content-section">
		<h3>Details</h3>
		<p> This section gives you searching in Twitter feeds using RESTful services provided by Twitter and queries your search.</p>
		</div>
   
		
		<div class="content-section">
		<h3>TAG CLOUD </h3>
		<img width="330" height="74" src="/images/tagcloud.jpg"/>
		</div>
		-->
		<div class="content-section">
		<h3>Details</h3>
		<span id="indicator" style="display: none; text-align:center; margin-left:auto; margin-right:auto;margin-top:20px;">
			<img src="/images/ajax-loader.gif" align='center' style=" display: block; margin-left: auto;  margin-right: auto; padding-top:50px;" />
		</span>
		<p> 		
		<div id="resource">
			
			
		</div></p>
		
		</div>
		
		
		
   </div>
 
 <div id="footer-spacer"></div>

</div>  





</body>  </html>

