<html>
<head>
<%= stylesheet_link_tag 'verticalMenu' %>
</head>
<body>
<div id="menu4">							
					<% currResource = @courseModel.model.get_resource(params[:uri]) %>
					<% semesters = currResource.get_properties(@ioe['hasSem']) %>
					<% semesters.each do |semester| %>
						<li><a href= "#">
							<%= @courseModel.model.object(semester, @ioe['name']).literal.value %></a>
							<ul>
								<% semResource = @courseModel.model.get_resource(semester) %>
								<% courses = semResource.get_properties(@dcterms['hasPart']) %>
								<% courses.each do |course| %>
								<li><%= link_to_remote @courseModel.model.object(course, @ioe['name']).literal.value, :update => 'detailed_view',
                                                :url => {:controller => 'course', :action => 'view_details', :uri => course.uri.to_s } %>
									 
									<ul>
										<% courseResource = @courseModel.model.get_resource(course) %>
										<% topics = courseResource.get_properties(@skos['narrower']) %>
										<% topics.each do |topic| %>
										<li><%= link_to @courseModel.model.object(topic, @ioe['name']).literal.value,
                                                :controller => 'say', :action => 'hello',
												:search => @courseModel.model.object(topic, @ioe['name']).literal.value,
												:uri => topic.uri.to_s, :courseSearch => true
                                     		%>									
											
											<ul>
												<% topicResource = @courseModel.model.get_resource(topic) %>
												<% subtopics = topicResource.get_properties(@dcterms['hasPart']) %>
												<% subtopics.each do |subtopic| %>
													<li><%= link_to @courseModel.model.object(subtopic, @ioe['name']).literal.value,
                                                			:controller => 'say', :action => 'hello',
															:search => @courseModel.model.object(subtopic, @ioe['name']).literal.value,
															:uri => subtopic.uri.to_s, :courseSearch => true
                                     			%>	
														<ul></ul>
													</li>
												<% end %>
											</ul>
										</li>
										<% end %>
									</ul>
								</li>
								<% end %>
							</ul>
						</li>
					<% end %>			
				</li>
		</div>
    <div id = "detailed_view">
    </div>
	</body>
	</html>
